/* Existing CSS */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
  overflow: hidden;
  position: relative;
}

.slideshow {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: -1;
}

.slideshow img {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 2s;
  border-style: solid;
  border-width: 16px;
  border-color: #fff;
  box-sizing: border-box;
}

.slideshow img.active {
  opacity: 1;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  z-index: 1;
  color: white;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 30px;
  width: 50%;
}

.containerr-center {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 60vh;
  text-align: left;
}
.left-part {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: left;
}

.content h4 {
  font-family: sans-serif;
  font-weight: 600;
  font-size: 25px;
  letter-spacing: 2px;
}

.left-part h2,
h5 {
  font-weight: 400;
  font-family: "Playfair Display", serif;
  letter-spacing: 1.5px;
}

.welcome-button {
  font-size: 18px;
  letter-spacing: 1.5px;
  font-family: sans-serif;
  font-weight: 600;
  display: inline-block;
  padding: 13px 20px;
  margin-top: 20px;
  background-color: transparent;
  color: #fff;
  border: 2px solid #fff;
  transition: color 170ms ease-in-out, border-color 170ms ease-in-out;
  text-decoration: none;
  border-radius: 5px;
}

/* New Media Query for Mobile Devices */
@media (max-width: 768px) {
  .content {
    width: 90%; /* Adjust the width to fit within the frame of the images */
    font-size: 24px; /* Adjust the font size for better readability on mobile */
  }
}

.social-media-links {
  display: flex;
  justify-content: left;
  align-items: left;
  margin-top: 15vh;
  gap: 20px; 
}

.social-link {
  color: #fff; /* Change the color as needed */
  text-decoration: none;
}

.social-link:hover {
  color: #555; /* Change the hover color as needed */
}

.fa-instagram,
.fa-facebook-f,
.fa-youtube {
  font-size: 25px; /* Adjust the size of the icons as needed */
}
