*,
body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.search-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  place-items: center;
  gap: 70px;
}

#SearchQueryShow {
  font-size: 32px;
  font-weight: 400;
}

.blogPosts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  place-items: center;
  gap: 15px;
  margin-bottom: 120px;
  margin-left: -0%;
}

.post {
  display: flex;
  width: 60%;
  justify-content: center;
  gap: 20px;
  cursor: pointer;
  color: #000;
}


.post .contentsection{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.post .contentsection h1{
    font-weight: 400;
}


.post .contentsection p{
    font-weight: 400;
    color: rgba(128, 128, 128, 0.611);
    font-size: 18px;
}