@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Sorts+Mill+Goudy:ital@0;1&display=swap");
#card-section,
#featured-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  place-items: center;
  margin: autom auto;
  width: 100%;
  gap: 20px;
  margin-top: 80px;
  margin-bottom: 80px;
  font-family: "Lucida Grande", "Lucida Sans Unicode", Tahoma, sans-serif;
}

#card-section .card img {
  margin: 8px;
  margin-bottom: 50px;
}

#card-section h1,
#featured-section h1 {
  width: 50%;
  text-align: center;
  font-size: 32px;
  font-weight: 400;
}

#card-section p,
#featured-section p {
  width: 50%;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
}

#featured-section #inner-card-home {
  color: #000 !important;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  place-items: center;
  width: 60%;
  margin-top: 50px;
}

#featured-section #inner-card-home .blog {
  display: flex;
  flex-direction: column;
  color: #000 !important;
  width: calc(100% / 2) !important;
  height: 400px;
}

#featured-section #inner-card-home .blog .content h2 {
  color: #000;
  font-size: 22px;
  text-align: center;
  width: 80%;
  margin-top: 20px;
  font-weight: 400;
  font-family: "Lucida Grande", "Lucida Sans Unicode", Tahoma, sans-serif;
}

.blog .img img {
  display: block;
  object-fit: cover;
  cursor: pointer;
  width: 400px;
  height: 250px;
}

@media (max-width: 1400px) {
  #featured-section #inner-card-home {
    width: 80%;
  }

  #featured-section #inner-card-home .blog .content h2 {
    font-size: 18px;
  }

  .blog .img img {
    width: 350px;
    height: 250px;
  }
}

@media (max-width: 860px) {
  #featured-section #inner-card-home {
    flex-direction: column;
  }
  #featured-section #inner-card-home .blog {
    width: 100% !important;
    display: flex;
    justify-content: center;
    place-items: center;
  }
}
